<!doctype HTML>
<html>

    <head>
        <title>Sensor</title>
        <style>
            body {
                font-family: 'Helvetica', 'Arial', sans-serif;
            }
        </style>
    </head>

    <body>
        
        <h1>Sensors</h1>

        <table>
            <tr>
                <th>Sensor</th>
                <th>Value</th>
                <th>Date/Time Received</th>
            </tr>

            {% for sensor in points %}

            <tr>
                <td>{{ sensor.sensor }}</td>
                <td>{{ sensor.value }}</td>
                <td>{{ sensor.time }}</td>
            </tr>

            {% else %}
            <tr>
                <td>No Sensors found</td>
            </tr>
            {% endfor %}
        </table>

		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="livedata.js"></script>
        <script src="./highchartjs/highcharts.js"></script>
        <script src="./highchartjs/modules/exporting.js"></script>

        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

	</body>
</html>