{% extends "base.html" %}
{% block head %}
    <title> Level 8 App </title>
    {%include "../views/temp/styles.html"%}    
{% endblock %}
{% block body %}
    <h1>Level 8 App</h1>
    <form action="/product" id="productForm" class="productSelection">
        <select name="productSelection" required="true">
            {% for product in productArray %}
            <option value="{{product}}">{{product}}</option>
            {% endfor %}
        </select> 
        <input type="submit" value="View Parts Per Hour">  
    </form>
    <br>
    <form action="/inProgress" id="productForm" class="productSelection">
        <input type="submit" value="View in-progress orders">  
    </form>
    <br>
    <form action="/config" id="arduinoForm" class="arduinoSelection">
        <select name="arduinoSelection" required="false">
            {% for arduino in arduinoArray %}
            <option value="Sensor{{loop.index}}">{{arduino}}</option>
            {% endfor %}
        </select> 
        <input type="submit" value="Arduino Config">  
    </form>
    <a class = "button" href="/schedule">Schedule</a> <br>
    <a class = "button" href="/partNumberGen">Part Numbers</a><br>
    <a class = "button" href="/view_dataPoint">View data Point</a><br>
    <a class = "button" href="/add_dataPoint">Add data Point</a><br>
{% endblock %}
{% block bodyEnd %}
{%include "browserRefresh.html"%} 
{% endblock %}