<!doctype HTML>
<html>

    <head>
        <!-- build:css /styles/styles.css -->
        <link rel="stylesheet" href="./styles/styles.css"/>
        <!-- endbuild -->
        <title class="sensor--name">{{ product.name }}</title>
        <style>
            body {
                font-family: 'Helvetica', 'Arial', sans-serif;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
    </head>

    <body>
        <h1>{{product.name}}</h1>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart" width="0" height="0"></canvas>
        </div>
        <div class="wrapper"> 
            <div tabindex="0" class="button draw-chart-button">
                Click me to draw the chart!
            </div>
        </div>
        
        
        <table>
            <tr>
                <th></th>
                <th>Value</th>
                <th>Date/Time Received</th>
            </tr>
            <tr>    
            {% for k, v in product %}
                {% if k == "name" %}
                    <td>{{v}}</td>
                {% elif k == "partsPerHour" %}
                    <td ><input class="sensor--value" value="{{v}}" type="float"></td>
                {% else %}
                    <td ><input class="sensor--time" value="{{v}}" type='datetime'></td>
                {% endif %}
            {% else %}
                <td>No Sensors found</td>
            {% endfor %}
            </tr>
        </table>
        
        <!-- build:js /scripts/script.js -->
        <script src="./scripts/temp/scripts/App.js"/></script>
        <!-- endbuild -->
	</body>
</html> 