<!doctype HTML>
<html>

    <head>
        {%include "../views/temp/styles.html"%}
        <title>Sensor</title>
        <style>
            body {
                font-family: 'Helvetica', 'Arial', sans-serif;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
    </head>

    <body>
        <h1 class="">Sensor: {{points.sensor}}</h1>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart" width="0" height="0"></canvas>
        </div>
        <div class="wrapper"> 
            <div tabindex="0" class="button draw-chart-button">
                Click me to draw the chart!
            </div>
        </div>
        
        <table>
            <tr>
                {% for object in points %}
                    {% if loop.index ==1 %}
                        {% for key,value in object %}
                            {% if key == "_id" %}
                                <th>Day</th>
                            {% else %}
                                <th {% if not loop.last %}class="sensor--name"{%endif%}>{{key}}</th>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}    
                
            </tr>
            {% for productI in points %}
                <tr>    
                {% for k, v in productI %}
                    {% if k == "_id" %}
                        <td>{{v}}</td>
                    {% elif k !== "time" %}
                        <td ><input class="sensor--value {{k}}" value="{{v}}" type="float"></td>
                    {% else %}
                        <td ><input class="sensor--time" value="{{v}}" type='datetime'></td>
                    {% endif %}
                {% else %}
                    <td>No Sensors found</td>
                {% endfor %}
                </tr>
            {% endfor %}    
        </table>
        
        
        {%include "../views/temp/script.html"%}
	</body>
</html>