canvas {
    margin-top:20px; 
    border: 1px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


.line-graph-canvas-input {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.draw-canvas-button{
    border: 1px solid #000000;
    padding: 5px 5px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: buttonface;
    color: #080707;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}