<!doctype HTML>
<html>

    <head>
        <link rel="stylesheet" href="/styles/styles-b23b81f2ad.css"/>
        <title>{{ product.name }}: {{pphProduct}} </title>
        <style>
            body {
                font-family: 'Helvetica', 'Arial', sans-serif;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
    </head>

    <body>
        <h1 class="sensor--name">{{product.name}}  </h1>
        <h2>Average Parts Per Hour: {{pphProduct}}</h2>
        <div class="chart-container" style="position: relative; height:40vh; width:80vw">
            <canvas id="myChart" width="0" height="0"></canvas>
        </div>
        <div class="wrapper"> 
            <div tabindex="0" class="button draw-chart-button">
                Click me to draw the chart!
            </div>
        </div>
        
        
        <table>
            <tr>
                <th></th>
                <th>Value</th>
                <th>Date/Time Received</th>
            </tr>
            {% for productI in productArray%}
                <tr>    
                {% for k, v in productI %}
                    {% if k == "product" %}
                        <td>{{v}}</td>
                    {% elif k == "partsPerHour" %}
                        <td ><input class="sensor--value" value="{{v}}" type="float"></td>
                    {% else %}
                        <td ><input class="sensor--time" value="{{v}}" type='datetime'></td>
                    {% endif %}
                {% else %}
                    <td>No Sensors found</td>
                {% endfor %}
                </tr>
            {% endfor %}    
        </table>
        
        <script src="/scripts/script-4286f5ca5b.js"></script>
	</body>
</html> 