<!doctype HTML>
<html>

    <head>
        <link rel="stylesheet" href="/styles/styles-b23b81f2ad.css"/>
        <title>Sensor</title>
        <style>
            body {
                font-family: 'Helvetica', 'Arial', sans-serif;
            }
        </style>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        
    </head>
<form action="/saveParsedValues" method="POST">
    <body>
        
        <table>
            <tbody>
            <tr >
            <th colspan="4">Schedule for {{sdow}}</th>
            </tr>
            <tr>
                <th>Order</th>
                <th>Chair type</th>
                <th>Quantity</th>
                <th>Parsed value</th>
            </tr>

            {% for cell in pA %}

            <tr>
                <td id="{{ loop.index }}.{{ loop.index -1 }}">{{ orderArray[loop.index-1] }}</td>
                <td id="{{ loop.index }}.{{ loop.index }}">{{ pA[loop.index-1] }}</td>
                <td id="{{ loop.index }}.{{ loop.index +1 }}">{{ valueArray[loop.index-1] }}</td>
                <td id="{{ loop.index }}.{{ loop.index +1 }}">
                {% set outer_loop = loop %}
                {% set fire = 1 %}
                {% for product in productArray %}
                    {% if product == parsedArray[outer_loop.index-1] %}
                    <select name="productSelection" required="true" selected="{{ parsedArray[outer_loop.index-1] }}">
                        {%for product2 in productArray%}
                            {% if product2 == parsedArray[outer_loop.index-1] %}
                        <option value="{{dow}}.{{outer_loop.index}}:{{ product2 }}" selected>{{ product2 }}</option>
                            {% else %}
                        <option value="{{dow}}.{{outer_loop.index}}:{{ product2 }}" >{{ product2 }}</option>
                            {% endif %}        
                        {% endfor %}
                        {% set fire=0 %}
                    </select>         
                    <input style="margin-top:25px; display:block" type="submit" value="Submit">
                    {% else %}
                        {% if fire %}
                            {% if loop.last %}
                    {{ parsedArray[outer_loop.index-1] }}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </td>
            </tr>
            {% else %}
            <tr>
                <td>No Sensors found</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="button" href="/schedule?dow={% if dow == 1 %}5{% else %}{{dow -1}}{% endif %}">Previous Day</a>
        <a class="button" href="/schedule?dow={% if (dow == 6) or (dow == 5) %}1{% else %}{{dow +1}}{% endif %}">Next Day</a>
        <table name="summary">
        <tbody>
        <tr>
            <th colspan="2">Summary:</th>
        </tr>
        <tr>
            <th>Parsed Name</th>
            <th>Qty</th>
            
        </tr>
        {% for key, value in summary %}
        <tr>
            <td>{{key}}:</td>
            <td>{{value.qty}}</td>
            
        </tr>    
        {% endfor %}
        </tbody>
        </table>
        
	</body>
</html>